* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg: #282828;
    --text-light: rgb(255, 248, 248);
}

main {
    min-height: 100vh;
    width: 100%;
    background: var(--dark-bg);
    color: var(--text-light);
}

.title {
    max-width: 80%;
    min-width: 70vw;
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center;
    border-bottom : 1px solid var(--text-light);

    & h1{
        margin: 1rem 0;
        font-size: 2.5rem;
    }

    & p{
        font-size: 1.5rem;
    }

}