* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg: #212121;
    --text-light: rgb(255, 248, 248);
    --dark-bg-2: #353535;
    --blue: rgb(12, 97, 255);
    --yellow : rgb(255, 234, 2);
}

main {
    min-height: 100vh;
    width: 100%;
    background: var(--dark-bg);
    color: var(--text-light);
}

.title {
    max-width: 80%;
    min-width: 70vw;
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid var(--text-light);

    & h1 {
        margin: 1rem 0;
        font-size: 2.5rem;
    }

    & p {
        font-size: 1.5rem;
    }

}

.git-commands-section {
    width: 100%;
    margin : 2rem auto;
    padding: 1rem 0.7rem;
    /* background-color: var(--dark-bg-2); */
    text-align: center;

    & h2 {
        font-size: 1.5rem;
        background-color: var(--blue);
        display: inline-block;
        max-width: 30rem;
        padding: 0.7rem;
        border-radius: 0.5rem;
    }

   .git-commands {

    border-bottom : 1px solid white;
    padding: 2rem 0;

     & dl {

        & .git-title {
            font-size: 1.2rem;
            margin: 1rem auto;
            color : var(--yellow);
            font-weight :500;
        }

        & .git-command {
            font-style: italic;
            background-color: var(--dark-bg-2);
            max-width : 50%;
            margin : 0 auto;
            border-radius : 0.5rem;
            padding: 2rem;
            font-size : 1.2rem;
        }
    }
   }
}